*{
    margin: 0;
    padding: 0;
}


section {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, green, blue, white);
    background-size: 400%, 400%;
    position:relative;
    animation: gradient 10s ease-in-out infinite;
}

h1 {
    text-align: center;
}



@keyframes gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}
